@import '../../global/scss/styles.scss';

button.btn {
  @include font-size(1);
  line-height: 1.25rem;
  padding: 14px 12px;
  min-width: 125px;
  border: none;
  cursor: pointer;
  outline: none;

  &-primary {
    background: $primary;
    color: $text_primary;
  }

  &-secondary {
    background: $secondary;
    color: $dark;
  }

  &-small {
    padding: 8px 10px;
  }

  &:disabled {
    color: $secondary;
    background: $inactive;
    cursor: not-allowed;
  }
}